<h3>Welcome to Sinatra!</h3>
<form action="/submit" method="POST">
  <input type="text" name="post[name]" value="Enter your post name" />
  <input type"text" name="post[description]" value="Enter your description"/>
  <input type="submit" value="Submit" />
</form>
